body {
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 1.75em;
	font-family: lato-regular, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo span {
	color: #ccc;
}

.padding-top-bottom-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

img {
	max-width: 100%;
	box-shadow: 0 0 10px black;
	margin-bottom: 10px;
}

.never-display {
	display: none;
}