extends layout

block content
    .container(style='padding: 40px 0;')
        h1.logo
            | 喵德利
            span /Miaodeli
        p 欢迎来到「喵德利」的官方站点。这里是巨大互联网里的一片小小「技术试验田」。
        h3 阅读大型 JavaScript 源码时有什么好用的工具？
        p 大型 JavaScript 库的源码通常都在万行级别以上（例如 jQuery、AngularJs、NodeJs），而且由于 JavaScript 语言本身的特性，会出现大量的嵌套函数定义。这使得阅读 JavaScript 代码本身变得更加困难。是否存在一定的工具，可以降低阅读此类大型项目时的难度？例如能够将函数层级关系拆解开，支持导航的方式层层跳转；能够分析标识符引用关系，辅助确定热点函数等？我曾经希望有一款现成的工具能满足这些需求。但经过一段时间的寻找，依然没能找到合适的选择。最终我决定自己动手来解决这一问题，于是 λ-VIEW 诞生了。
        h3 λ-VIEW 是什么？