extends layout

block content
    .container.padding-top-bottom-40
        h1.logo
            | 喵德利
            span /Miaodeli
        p 欢迎来到「喵德利」——巨大互联网里的一片小小「技术试验田」。
        h3 λ-VIEW 介绍
        h4 阅读大型 JavaScript 源码时有什么好用的工具？
        p 大型 JavaScript 库的源码通常都在万行级别以上（例如 jQuery、AngularJs、NodeJs），而且由于 JavaScript 语言本身的特性，会出现大量的嵌套函数定义，这使得阅读此类项目变得更加困难。是否存在某种工具能够将函数层级关系拆解开，支持导航的方式层层跳转；能够分析标识符引用关系，辅助确定热点函数等？这就是 λ-VIEW 要解决的问题。

        h4 实例：用 λ-VIEW 分析 AngularJS
        p AngularJS 是由 Google 开发的一套前端模板引擎，其源代码超过两万行（包括注释），分析起来比较困难。但是通过使用 λ-VIEW 将其拆解，我们就能比较方便的分析出其核心业务流程。

        .well
            span.label.label-info 操作方法
            br
            请打开 λ-VIEW 主界面，然后将 AngularJS 的 JavaScript 代码粘贴到其中，然后点击 After 按钮即可。

        p 图 1 和图 2 对比了原始的代码与 λ-VIEW 处理后的代码。

        a(href='/my/img/raw-angularjs.jpg', target='_blank')
            img(src='/my/img/raw-angularjs.jpg')
        p.img-title 图 1 原始的 AngularJs 代码

        a(href='/my/img/angularjs-inside.jpg', target='_blank')
            img(src='/my/img/angularjs-inside.jpg')
        p.img-title 图 2 经过 λ-VIEW 拆解后的 AngularJs 代码

        p 
            | 图 1 是原始的 AngularJS 源码，可以看到左侧的行号已经超过 2 万行，直接阅读这样的代码无异于
            strong 划着独木舟在大海里寻找孤岛
            | ，其难度可想而知。但经过 λ-VIEW 处理后我们在图 2 中可以看到代码不再是一个连续的整体，而被按照函数为单位拆分开。具体来说有以下特点：
        ol
            li 匿名函数显示为 {λ} 的形式，点击后可以进入；
            li 函数按照其嵌套关系被拆解开，顶部标识出了当前函数的嵌套路径，其中&lt;Program&gt; 代表顶级作用域，而 λ-0 是我们目前所处于的位置，它是顶级作用域下的第 0 号匿名函数；
            li 左侧列举出了当前作用域内定义的子函数，点击后可以进入。
        p 经过处理后的代码易读性得到了很大的提高。

        h4 更多介绍（原理、开发计划……）
        p （待续……）