extends layout

block content
    .container.padding-top-bottom-40
        h1.logo
            | 喵德利
            span /Miaodeli
        p 欢迎来到「喵德利」——巨大互联网里的一片小小「技术试验田」。
        include:markdown article/main.md