extends layout

block content
    .container.padding-top-bottom-40
        h1.logo
            | 喵德利
            span /Miaodeli
        p 欢迎来到「喵德利」——巨大互联网里的一片小小「技术试验田」。

        h3 λ-VIEW —— 大型 JavaScript 源代码分析辅助工具

        a(href='lambda/', target='_blank')
            img(src='/my/img/lambda-view-3.jpg')

        .well
            span.label.label-info 开发进展
            br
            您可以在&nbsp;
            a(href='https://github.com/Jianru-Lin/SyntaxEditor/', target='_blank') Github
            | &nbsp;上获取这一项目的源代码及最新的进展。