doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='/my/css/style.css', rel='stylesheet')
        script(href='/jquery/jquery-2.1.1.min.js.js')
        script(href='/bootstrap/js/bootstrap.min.js')
    body
        nav.nav.navbar-default(role='navigation')
            .container
                a.navbar-brand(href='#') 喵德利
                ul.nav.navbar-nav
                    li.active
                        a(href='#', target='_blank') 首页
                    li
                        a(href='/lambda/', target='_blank') λ-VIEW
                    li
                        a(href='/chat/', target='_blank') 社区
        block content