h3 设计初衷 
p 我是一名普通的软件开发者。因为工作的关系，我常常需要在不同的计算机上开展工作，这些计算机都在同一个局域网内，但上面运行的操作系统却各不相同。为了能在这些计算机间方便的共享文件，费了我不少的脑筋。我使用过各种各样的软件，采用过各种各样的方案。但是这些软件要么只支持特定的平台，要么安装和配置繁琐，维护困难，而看起来相对好一些的，却又是收费的。所以我渐渐的萌生了自制的想法。
p 我的目标是制作一款免费的，公开原理的，能够支持多种不同的操作系统和手机的文件共享和传输软件。这个软件命名为“喵德利的文件传输机”。
h3 适用人群
p 适用于想要在同一局域网内的不同计算机间共享文件的用户。
h3 功能特点
ul
	li 支持多种操作系统（XP，Win7，Win8，Mac OS X，Ubuntu等）
	li 支持不同的操作系统间互传文件
	li 支持通过 WI-FI 将电脑上的文件传输到手机上
	li 无需安装，打开就能用，绿色便携
h3 当前进展
p 目前正在紧张的开发中，软件代码已经发布到
	a(href="https://github.com/Jianru-Lin/miaodeli-file-server") https://github.com/Jianru-Lin/miaodeli-file-server
	| ，预计在本月底（2014-02-28）前能够发布第一个版本
h3 联系我
p 欢迎通过 jianru.lin@gmail.com 与我取得联系。
