doctype html
html
	head
		title 喵德利官方站点
		link(rel="stylesheet", href="css/style.css", type="text/css")
		link(rel="stylesheet", href="css/font.css", type="text/css")
	body.font-hei
		h1 喵德利的文件传输机
		include article/2014-02-14.jade
		div.stat
			script(type="text/javascript").
				var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fdaa957cd929ce56bc1b0229655b058ff' type='text/javascript'%3E%3C/script%3E"));
