doctype html
html
	head
		title 喵德利官方站点
		link(rel="stylesheet", href="css/style.css", type="text/css")
		link(rel="stylesheet", href="css/font.css", type="text/css")
		script(type="text/javascript", src="js/stat.js")
	body.font-hei
		h1 喵德利的文件传输机
		include article/2014-02-14.jade
